.title {
  font-family: system-ui, -apple-system, BlinkMacSystemFont;
  font-size: 24px;
  padding: 48px;
  text-align: center;
  color: white;
}

/* * {
  border: 1px solid rgb(161, 161, 161);
} */
.input-search {
  padding: 5px;
  width: 300px;
  max-width: 90%;
  align-self: center;
  text-align: center;
}

.tasks-container {
  background-color: rgb(31, 31, 31);
  width: 40%;
  align-self: center;
  margin-top: 30px;
  padding: 10px;
  max-height: 50vh;
  overflow: auto;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  border: 1px solid black;
  color: white;
}

.task-item {
  display: flex;
  border: 1px solid rgb(145, 145, 145);
  padding-left: 5px;
  background: rgb(43, 43, 43);
}

.task-item:not(:first-child) {
  border-top: none;
}

.task-item-title {
  flex: 1;
  padding: 12px 9px;
}
