* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  background: rgb(39, 39, 39);
}

#root {
  display: flex;
  flex-direction: column;
}

.Btn {
  width: 100px;
  padding: 4px;
  border-radius: 3px;
  border: 1px solid transparent;
  background: rgb(216, 216, 216);
  color: rgb(49, 49, 49);
  font-weight: bold;
  transition: 0.3s;
}

.Btn:hover {
  border: 1px solid rgb(125, 133, 136);

  background: rgb(230, 230, 230);
}
