.TaskItem {
  display: flex;
  align-items: center;
  border: 1px solid rgb(145, 145, 145);
  padding: 1em;
  background: rgb(43, 43, 43);
}

.TaskItem:not(:first-child) {
  border-top: none;
}

.TaskItem-Task {
  flex: 1;
  padding: 12px 9px;
  margin-left: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.TaskItem-Task--complete {
  text-decoration: line-through;
}

.Btn-Close {
  background: rgb(43, 43, 43);
  color: rgb(128, 128, 128);
  width: 15px;
  height: 15px;
  transition: 0.2s;
  border: none;
}

.Btn-Close:hover {
  background: rgb(255, 27, 27);
  color: white;
}
